@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

section  {
background: #F5F5F5;
min-height: 100vh;
max-height: max-content;
}

section > div {
  background: #f4f8fc;
}

#main__container {
  margin-top: 3em;
  background-color: #F5F5F5;
  padding: 25px;
  border-radius: 15px;
}

a {
  text-decoration: none !important;
}

#search__box {
width: 300px;
height: 45px;
border-radius: 0px;
background: #006400;
}

#searchbar {
background: #006400;
border-radius: 0px;
color: white;
font-family: 'Roboto', sans-serif;
}

#searchbar::placeholder {
  color: rgb(202, 202, 202);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

#search_icon {
  color: #3CB371;
}

#user_icon {
  color: white;
  font-size: 28px;
}

.create {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: auto;
background: #fff;
width: 80%;
margin: auto;
padding: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 10px;
}

.create__post {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

#create__input {
height:5px;
width:84.5%;
border:none;
font-family:Ubuntu;
font-weight:500;
}

#create__input::placeholder {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.btn__primary {
border: none;
background: #445ef3;
color: #fdfdfd;
padding: 0.3em 0.8em;
}

.btn__primary:hover {
transition: 0.2s;
background: #394dbe;
}

#post__button {
width:100%;
margin:0.9em auto;
margin-bottom: 0;
background-color: #006400;
font-family: 'Segoe UI', sans-serif;
font-weight: bold;
font-size: 15px;
}

#post_icon {
  color: #4ce08e;
}
.dummy__img {
  height: 24em;
  width: 100%;
}

.post__card {
  width: 80%;
  margin:1.5em auto;
  background: #fff;
  padding: 0.3em;
}

.post__header,.post__action {
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.post__header p {
  margin: 0 0.5em;
  color: #747474;
  font-family: 'Roboto';
  font-size: 0.8em;
}

.post__header {
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Segoe UI',  sans-serif;
}

#avatar {
  margin-right: 5px;
}
.post__body {
  margin-top: 0px !important;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.post__action {
  margin-top: 0px !important;
  padding: 15px;
}

.post__card {
  background-color: white;
  border: 1px solid 	#F5F5F5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post__body p {
  margin: 0.5em 0 0.3em 0;
  font-family: 'Ubuntu';
  color: #464545;
  font-size: 0.9em;
}

.post__action {
  margin-top: 0.5em;
}

.post__action span {
  font-family: 'Ubuntu';
  color: #666666;
}

.post__action i {
  font-size: 1.25em;
  cursor: pointer;
  color: rgb(187, 184, 184);
}
.loader {
  border: 0.3em solid #f3f3f3; /* Light grey */
  border-top: 0.3em solid #445ef3; /* Blue */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 2s linear infinite;
  overflow-y: hidden;
  position: absolute;
  margin-top:2em;
  left: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.deleted {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#sidebar {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar_link {
  padding: 10px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
#sidebar_link:hover {
  background-color: 	#E8E8E8;
  border-radius: 0px;
  width: 100%;
}

.fas {
  margin-right: 10px;
  color: #2E8B57;
}

#searchbar {
  border-radius: 5px;
}

.Menu {
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-bottom: -5px;
  color: #8c8c8c;
}