@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');

section  {
background: #F5F5F5;
min-height: 100vh;
max-height: max-content;
}

section > div {
  background: #f4f8fc;
}

#main__container {
  margin-top: 3em;
  background-color: #F5F5F5;
  padding: 25px;
  border-radius: 15px;
}

a {
  text-decoration: none !important;
}

#search__box {
width: 300px;
height: 45px;
border-radius: 0px;
background: #006400;
}

#searchbar {
background: #006400;
border-radius: 0px;
color: white;
font-family: 'Roboto', sans-serif;
}

#searchbar::placeholder {
  color: rgb(202, 202, 202);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

#search_icon {
  color: #3CB371;
}

#user_icon {
  color: white;
  font-size: 28px;
}

.create {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: auto;
background: #fff;
width: 80%;
margin: auto;
padding: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 10px;
}

.create__post {
  margin-top: 5px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

#create__input {
height:5px;
width:84.5%;
border:none;
font-weight:500;
font-size: 14px;
}

#comment__input {
width:100%;
border: 1px solid rgb(193, 193, 193) !important;
font-weight:500;
font-size: 14px;
}

#comment__input::placeholder {
  color: rgb(117, 117, 117);
  font-size: 16px;
}

#create__input::placeholder {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

#search__input {
  width:230%;
  height: 42px;
border: 1px solid rgb(193, 193, 193) !important;
font-weight:500;
font-size: 14px;
}

#search__post {
  margin-top: 30px;
}

#search__label {
  margin-top: 26px;
  font-size: 16px;
  font-family: 'Source Sans Open', sans-serif;
  margin-left: 5px;
}
#comment_button {
  background-color: #006400;
  font-family: "Source Sans Open", sans-serif;
  font-weight: bold;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.loginpage_text {
  font-family: 'Source Open Sans', sans-serif;
  font-weight: bold;
  padding: 15px;
  font-size: 24px;
}
#logoutpage_button {
  background-color: #006400;
  font-family: "Source Sans Open", sans-serif;
  font-weight: bold;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

#logoutpage_button:hover {
  color: white !important;
}

#Create_Account {
  background-color: rgb(40, 40, 179);
  font-family: "Source Sans Open", sans-serif;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 50%;
  color: white !important;
  margin-left: 24%;
  text-align: center;
}
#logoutpage_text {
  font-size: 24px;
  font-family: 'Source Sans Open', sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-bottom: -5px;
  margin-top: 30%;
  color: #5e5e5e; 
}
.btn__primary {
border: none;
background: #445ef3;
color: #fdfdfd;
padding: 0.3em 0.8em;
}

.btn__primary:hover {
transition: 0.2s;
background: #394dbe;
}

#post__button {
width:100%;
margin:0.9em auto;
margin-bottom: 0;
margin-top: 20px;
background-color: #006400;
font-family: 'Segoe UI', sans-serif;
font-weight: bold;
font-size: 15px;
padding: 8px;
border-radius: 20px;
}

#post_icon {
  color: #4ce08e;
}
.dummy__img {
  height: 24em;
  width: 100%;
}

.post__card {
  width: 80%;
  margin:1.5em auto;
  background: #fff;
  padding: 0.3em;
}

.post__header,.post__action {
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.post__header p {
  margin: 0 0.5em;
  color: #747474;
  font-family: 'Roboto';
  font-size: 0.8em;
}

.post__header {
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

#avatar {
  margin-right: 5px;
}
.post__body {
  margin-top: 0px !important;
  padding: 10px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

.post__action {
  margin-top: 0px !important;
  padding: 15px;
}

.post__card {
  background-color: white;
  border: 1px solid 	#F5F5F5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post__body p {
  margin: 0.5em 0 0.3em 0;
  margin-top: -10px;
  font-family: 'Ubuntu';
  color: #464545;
  font-size: 0.9em;
}

.post__action {
  margin-top: 0.5em;
}

.post__action span {
  font-family: 'Ubuntu';
  color: #666666;
}

.post__action i {
  font-size: 1.25em;
  cursor: pointer;
  color: rgb(187, 184, 184);
}
.loader {
  border: 0.3em solid #f3f3f3; /* Light grey */
  border-top: 0.3em solid #445ef3; /* Blue */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 2s linear infinite;
  overflow-y: hidden;
  position: absolute;
  margin-top:2em;
  left: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.deleted {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#sidebar {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar_link {
  padding: 10px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
#sidebar_link:hover {
  background-color: 	#E8E8E8;
  border-radius: 0px;
  width: 100%;
}

.fas {
  margin-right: 10px;
  color: #2E8B57;
}

#searchbar {
  border-radius: 5px;
}

.Menu {
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-bottom: -5px;
  color: #8c8c8c;
}

#Logout__Message {
  font-size: 25px;
  font-family: 'Source Sans Open', sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-bottom: -5px;
  color: #ffffff;
  background-color: #929292;
  border-radius: 20px;
}

#Backto_Login {
  width: 50%;
}

#logout_page {
  width: 50%;
  text-align: center;
}
#post_heart {
  color: red !important;
  font-size: 24px;
  margin-top: 0px;
}

#post_comment {
  color: #006400 !important;
  font-size: 22px;
  margin-top: -6px;
}

#post_edit {
  color: #006400 !important;
  font-size: 23px;
  margin-top: -8px;
}

#post_delete {
  color: red !important;
  font-size: 23px;
  margin-top: -5px;
}

#search__icon {
  color: white !important;
  font-size: 18px;
  
}
#edit__page {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

#edit__content {
  padding: 15px;
}

#login__content {
  margin-top: 15%;
  padding: 15px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login__input {
  font-family: 'Source Open Sans', sans-serif;
}

#login__input:active {
 box-shadow: 1px solid #006400 !important;
}

.Edit {
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-bottom: -5px;
  color: #8c8c8c;
}

.Edit_Caption {
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Source Open Sans', sans-serif;
  margin-bottom: 10px;
  font-family: 'Segoe UI', sans-serif;
}

#Edit_CaptionText {
  margin-bottom: 10px;
}

#Edit_Image {
  border: 1px solid rgb(192, 192, 192); 
}

#Edit_Button {
  margin-top: 25px !important;
}

#Edit_Profile {
  background-color: #006400;
  font-family: "Source Sans Open", sans-serif;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 14px;
  margin-bottom: 5px;
}

#search__button {
  background-color: #006400;
  font-family: "Source Sans Open", sans-serif;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 53%;
}


#User_Name {
  font-family: 'Source Sans Open', sans-serif;
  font-size: 20px;
}

.Profile {
  font-family: 'Source Sans Open', sans-serif;
  font-size: 16px;
}

#Profile_Avatar {
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100px;
  width: 100px;
  margin-left: -10%;
  margin-right: 3%;
}

#Post_Links {
  font-family: 'Source Sans Open', sans-serif !important;
  font-size: 16px !important;
}

#post__image {
  color: #006400 !important;
}